<form>
    <input id="fileInput" type="file" name="json"/>
    <input type="submit" value="Submit" id="submit">
</form>
    <div id="code"></div>
<script type="module" src="/js/uploadFile.js"></script>
